<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Create New Blog</title>
</head>
<body>
    <header>
        <h1>Create a New Blog</h1>
        <button><a href="/blogs">Back to Blogs</a></button>
    </header>
    <section class="new-section">
        <form action="/blogs" method="POST">
            <div>
                <label for="title" >Title</label>
                <input type="text" class="mar-in" name="title" id="title" required>
            </div>
            <div>
                <label for="author" >Author</label>
                <input type="text" class="mar-in" name="author" id="author" required>  <!-- Author input -->
            </div>
            <div>
                <label for="content" class="label-textarea" >Content</label>
                <textarea name="content" id="content" class="mar-in" required></textarea>
            </div>
            <button type="submit">Create Blog</button>
        </form>
    </section>
</body>
</html>
